.preloader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #bfdde7;
  z-index: 2;
  transition: 1s all;
  opacity: 0;
  visibility: hidden;

  .loader{
    width: 75px;
    height: 75px;
    border : 10px solid white;
    border-radius: 50%;
    border-top-color: #2667FF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: 1.2s spin infinite linear;
  }
  &.done{
    opacity: 0;
    visibility: hidden;
  }
  &.undone{
    opacity: 1;
    visibility: visible;
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg)
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg)
  }
}