* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: system-ui;
}

html, body{
    width: 100%;
    height: 100%;
	background: url("../photo/edited.jpg");
	background-size:cover;
	background-attachment: fixed;
	color: #ffffff
}

div.app{
    position: relative;
    width: 100%;
    height: 100%;
}

div.app > h1{
    position: absolute;
    font-size: 50px;
    top: 18%;
	left: 29%;
}

div.app > h2{
    position: absolute;
    top: 10%;
    left: 50%;
	font-size: 70px;
    transform: translate(-50%, -50%);
}

.btn {
	position: absolute;
	width: 15%;
	height: 10%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 20px;
	min-width: 70px;
	min-font-size: 10px;
	font-family: system-ui;
	box-sizing: border-box;
	padding: 1.3% 1.3%;
	margin: 0 10px 10px 0;
	outline: none;
	border: none;
	border-radius: 5px;
	flex-basis: content;
	text-align: center;
	vertical-align:middle;
	display:table-cell;
	font-weight: 700;
	font-size: calc(14px + 1vw);
	text-decoration: none;
	color: #ffffff;
	background-color: #2286aa;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}

.btn:hover {background-color: #196480}

.btn2 {
	position: absolute;
	width: 13%;
	height: 7%;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 20px;
	min-width: 80px;
	min-font-size: 10px;
	max-width: 700px;
	box-sizing: border-box;
	padding: 0.5% 1.25%;
	margin: 0 5px 5px 0;
	outline: none;
	border-radius: 5px;
	flex-basis: content;
	text-align: center;
	vertical-align:middle;
	display:table-cell;
	font-weight: 600;
	font-size: calc(8px + 1vw);
	text-decoration: none;
	color: #ffffff;
	border: solid;
	border-color: grey;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}

.btn2:hover {background-color: grey}

div .about_text {
	position: relative;
	background: #ffffff;
	color: #000000;
	margin: 120px auto;
	padding: 20px 10px 20px;
	width: 80%;
}
div .about_text p {
	margin: 10px 0;
}

