* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: system-ui;
}

html, body{
    width: 100%;
    height: 100%;
	background: url("../photo/edited.jpg");
	background-size:cover;
	color: #ffffff
}

div.app{
    position: relative;
    width: 100%;
    height: 100%;
}

div.app > h1{
    position: absolute;
    font-size: 50px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.app > h2{
    position: absolute;
    top: 10%;
    left: 50%;
	font-size: 70px;
    transform: translate(-50%, -50%);
}

h3{
	width: 90%;
	height: 30%;
	position: relative;
	text-align: center;
	font-size: 15px;
	top: 20%;
	left: 5%;
	right: 25%;
	color: #000000;
	background: #ffffff
}
.btn {
	position: absolute;
	width: 15%;
	height: 10%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 20px;
	min-width: 70px;
	min-font-size: 10px;
	font-family: system-ui;
	box-sizing: border-box;
	padding: 1.3% 1.3%;
	margin: 0 10px 10px 0;
	outline: none;
	border: none;
	border-radius: 5px;
	flex-basis: content;
	text-align: center;
	vertical-align:middle;
	display:table-cell;
	font-weight: 700;
	font-size: calc(14px + 1vw);
	text-decoration: none;
	color: #ffffff;
	background-color: #2286aa;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}

.btn:hover {background-color: #196480}


.btn2 {
	position: absolute;
	width: 12.5%;
	height: 7%;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 20px;
	min-width: 80px;
	min-font-size: 10px;
	max-width: 700px;
	box-sizing: border-box;
	padding: 0.9% 1.25%;
	margin: 0 5px 5px 0;
	outline: none;
	border: none;
	border-radius: 5px;
	flex-basis: content;
	text-align: center;
	vertical-align:middle;
	display:table-cell;
	font-weight: 600;
	font-size: calc(8px + 1vw);
	text-decoration: none;
	color: #000000;
	/*background-color: #2286aa;*/
	background-color: grey;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}

.btn2:hover {background-color: #196480}


