* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

html, body{
    width: 100%;
    height: 100%;
    /*background: url("../photo/phon1.jpg");*/
    /*background-size:cover;*/
}

div.app{
    position: relative;
    display: flex;
    justify-content: center;
}

div.app > h2{
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 70px;
    transform: translate(-50%, -50%);
}

div.app1{
    display: flex;
    justify-content: center;
}

h1{
    position: relative;
    text-align: center;
    font-size: 50px;
}

div.app2{
    left: 20%
}

.btn-load {
    display: inline-block;
    padding: 1.3% 1.3%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2286aa;
    border: none;
    border-radius: 15px;
    font-size: calc(14px + 1vw);
}

.btn-load:hover {background-color: #196480}
